[2020-04-15 15:07] davidbarberis opened #3 "UI Rendering issue for HXTool 4.5.1.2 on Resolution 1600X900"
![McKinsey_HX 4 5 1 2_Res1600X900 April 15 2020](https://user-images.githubusercontent.com/63733519/79353609-45c20d80-7f09-11ea-9724-78ef93d4b42e.jpg)

Ran into a fairly minor UI rendering issue (Resolution 1600X900) via RDP for HXTool version 4.5.1.2 and had to use the browser Zoom In/Out to correct:

[2020-05-05 16:08] B0fH opened #5 "Move from TinyDB eid to doc_id"
The latest version of TinyDB (4.0 at the time of this issue) drops support for the eid keyword argument in favor of doc_id, see https://github.com/msiemens/tinydb/pull/158. In order to leverage the latest version of TinyDB and associated performance improvements, we need to convert all eid references to doc_id. This should be pretty straightforward as most of the usage is in hxtool_db.py.

[2020-05-05 17:51] #5 closed

[2020-06-04 15:57] bw-0 opened #8 "Download bulk acquisition fails."
HXTool version:4.5.1.2
HX version: 5.0.0.910952

[code]
Thanks in advance, B

[2020-06-05 07:16] bridgeythegeek opened #9 "Editing an indicator only shows first 50 conditions"
When editing an indicator, only the first 50 conditions are shown. Consequently, if an indicator has more than 50 conditions, not all indicators can be edited.

I would guess this is because, by default, the API only returns the first 50 records.

Either need to get all, or provide some kind of paging.

[2020-06-05 07:47] bridgeythegeek commented on #9
To be clear, that's 50 for each of `presence` and `execution`.

[2020-06-05 12:46] bridgeythegeek commented on #9
Seems like I hadn't done a recent pull - this has been fixed.

[2020-06-05 12:46] #9 closed

[2020-06-22 18:04] Greggis opened #10 "Unable to View Rules"
I am using the latest HXTool release with a controller on 5.0.0.910952.  I replaced the library with this one https://raw.githubusercontent.com/fireeye/HXTool/master/hx_lib.py

When I go to Rules/Mange Rules I get the following returned:
No data available in table

I am able to see the rules when logged directly into the controller UI.

Is this just a 5.0 API issue that I need to wait for the next

[2020-06-25 16:05] B0fH commented on #10
Hi @Greggis -
 Sanity check question: Did you restart HXTool after replacing hx_lib.py?

Thanks,
 Elazar

[2020-06-27 01:22] Greggis commented on #10
Hi Elazar,
Yes, I made sure to restart it. One interesting thing I noticed is that I have two controllers that are both running 5.0.  I am able to view and edit rules on one with no problems, but this one is giving me this issue for some reason.

Thank you,
Greg

[2020-07-14 12:57] Greggis commented on #10
We did some more testing to see if there was an issue with the API on the controller itself by using curl to pull a listing of the rules.  The commands were properly returning the the rule listing.  Support assisted by pulling a log in debug mode after making the request to manage rules through HXTool.  The log showed no evidence of the API request whereas they were seeing the API request in their

[2020-07-16 16:11] B0fH commented on #10
Hi @Greggis  -
 Thanks for the update, much appreciated! Do you have a support case number? I want to take a look at the HXTool debug log.

Thanks,
 Elazar

[2020-08-04 16:52] Greggis commented on #10
Hi Elazar,

I apologize for the delayed response, but I have been out on vacation.  The support case number is 01409861.  Let me know if you need anything further.  Thank you.

[2020-08-11 02:19] Greggis commented on #10
Another thing to add that I discovered.  If I go to Rules/Mange Rules, although I see "no data available in table", I am still able to import a rule that I exported from another controller.  I am still unable to see it in HXTool, but when I go to the controller UI, I see that it imports successfully.

[2020-08-11 22:56] B0fH commented on #10
Hi @Greggis  -
 Thanks! I looked at the ticket and didn't see the HXTool log, just the controller logs. Can you run hxtool.py with the -debug flag and attach the debug log to the ticket?

Thanks,
 Elazar

[2020-09-23 02:50] moshekaplan opened #18 "Instructions for setting up with mod_wsgi or gunicorn?"
Would it be possible to provide instructions for setting up hxtool with mod_wsgi or gunicorn?

[2020-09-25 19:09] B0fH commented on #18
Hi @moshekaplan -
 Unfortunately, due to the way HXTool currently interacts with the scheduler and database objects (via singletons), leveraging gunicorn and mod_wsgi with multiple workers breaks the application. This is due to the overall challenges of IPC in Python - current implementations leverage pickle, and many objects in those classes cannot be pickled. Though you could potentially run HXT

[2020-09-25 20:03] moshekaplan commented on #18
No worries. I had been asking for instructions because [hxtool.py:616](https://github.com/fireeye/HXTool/blob/b0238315163b12752ce4530cc3dfa9c3d3703f0a/hxtool.py#L616) mentions `gunicorn` and `mod_wsgi` support.

[2020-09-28 10:18] dannysapple opened #21 "Cloud hx - hx tool - api - proxy environment"
While connecting to cloud hx api, from hx tool from proxied enterprise environment, could not able to reach due to proxy required.
Can you provide an explicit proxy option while connecting, please.

Thank you

[2020-10-06 14:26] xambroz opened #23 "Unable to edit the Platform in the Rule management"
Hello,
When creating the rule, by default the rule has all the platforms - Win, MacOS, Linux
![image](https://user-images.githubusercontent.com/723625/95214031-bfb7bd00-07ef-11eb-93ab-f5ad9b006fd2.png)

Then if you edit the rule and save it (without changing the Patform, which is set to ALL), it removes the Linux platform:
![image](https://user-images.githubusercontent.com/723625/95214197-efff5b80

[2020-10-06 14:41] xambroz commented on #23
Workaround:
If you accidentally edit the rule and remove the linux platform from all the platforms, then clone the rule and remove the original - the clone will be again set to all 3 platforms.

[2020-10-07 04:39] B0fH commented on #21
Hi @dannysapple  -
 Kindly take a look at [proxy configuration section](https://github.com/fireeye/HXTool/blob/b01080fe6ef6f47fee03ad2b4951d34d45f2777f/README.CONFIG#L25) of README.CONFIG. This provides the syntax required for conf.json to specify a proxy that HXTool will use for all communications with the controller.

Thanks,
 Elazar

[2020-10-07 04:39] #21 closed

[2020-10-07 04:46] B0fH commented on #23
Hi @xambroz  -
 Thanks for reporting this, it is indeed a bug. It looks like we're missing Linux from the list [here](https://github.com/fireeye/HXTool/blob/b01080fe6ef6f47fee03ad2b4951d34d45f2777f/hxtool_api.py#L1012). I'll go ahead and get that fixed.

Thanks,
 Elazar

[2020-10-07 23:06] #23 closed

[2020-10-21 12:17] kalfard opened #29 "cant add an indicator in HXtool 4.5.1.2"
Hi,

Were using HX 5.0.1.917137 , with HXtool 4.5.1.2 and we have created and enabled API account with admin rights
unfortunately we cannot create a custom indicator and were getting a "failed to create indicator" error

also we have also enabled the background processing settings

Thanks in advance.

Regards,
Khaled

[2020-10-21 14:29] mathurin68 opened #30 "HX API 5.0 problem with HXTool?"
We upgraded one of our HX controllers to 5.0
![image](https://user-images.githubusercontent.com/5932961/96733218-3378ce80-1387-11eb-8253-05809d9440f1.png)

but now certain features don't seem to be available, for example, if I try to 'manage rules'
![image](https://user-images.githubusercontent.com/5932961/96733439-733fb600-1387-11eb-80eb-4e362a888662.png)

I get a 'DataTables warning: table id=io

[2020-10-21 15:04] B0fH commented on #29
Hi @kalfard -
 Unfortunately, HXTool 4.5.1.2 has a bug that prevents it from working with HX 5.0. To resolve this, you can either:
a) replace hx_lib.py with the one from master [hx_lib.py](https://raw.githubusercontent.com/fireeye/HXTool/master/hx_lib.py) and restart HXTool
b) Upgrade HXTool with a snapshot of master.

Thanks,
 Elazar

[2020-10-21 15:07] B0fH commented on #30
Hi @mathurin68 -
 Unfortunately, HXTool 4.5.1.2 has a bug that prevents it from working with HX 5.0. To resolve this, you can either:
a) replace hx_lib.py with the one from master [hx_lib.py](https://raw.githubusercontent.com/fireeye/HXTool/master/hx_lib.py) and restart HXTool
b) Upgrade HXTool altogether with a snapshot of [master](https://github.com/fireeye/HXTool/archive/master.zip).

Thanks,
E

[2020-10-21 17:15] mathurin68 commented on #30
@B0fH  Thank you so much for the fast response! Upgraded to 4.6 and boom it works!

[2020-10-21 17:15] #30 closed

[2020-10-22 07:30] kalfard commented on #29
Thanks its working now !

[2020-10-26 16:44] #29 closed

[2020-11-05 18:45] B0fH commented on #3
Fixed in 4.6 by https://github.com/fireeye/HXTool/commit/c1520439c8e314afe16cd96962fcfc26032ce74f

[2020-11-05 18:45] #3 closed

[2020-11-05 18:46] B0fH commented on #8
Closing this now that 4.6 has been released.

[2020-11-05 18:46] #8 closed

[2020-11-26 14:05] wikijm opened #47 "[Feature request] Bulk .ioc indicator import"
Hi,

Is it possible to add a functionality to bulk import multiple .ioc files (indicators previously generated by HXTool)?
I would like to 'train' my detections rules to a principal console, then export them and imported to other HX consoles.

If there is a workaround, don't hesitate to provide it here, no need to have an implementation into the webconsole, a Python script is enough 😉

Regards,
Wi

[2020-11-27 01:00] B0fH commented on #47
Hi @wikijm -
 You can do this today in HXTool 4.6, when importing rules/IOCs, simply select multiple files.

Thanks,
 Elazar

[2020-11-27 15:50] wikijm commented on #47
Hi Elazar,

Oh you're right, I see that on the changelog of the last release.
Thank you for your kind and effective answer 😃

Regards,
WikiJM

[2020-11-27 15:50] #47 closed

[2020-12-03 12:12] petelking opened #49 ""Error: Undefined" when creating or deleting controller profile"
### after controller profile creation:

[2020-12-03 14:07:07,722] {hxtool_api} {Thread-30} INFO - New controller profile added
[2020-12-03 14:07:07,723] {app} {Thread-30} ERROR - Exception on /api/v1/profile [PUT]
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/flask/app.py", line 2447, in wsgi_app
    response = self.full_di

[2020-12-03 15:10] ghost opened #50 "dashboards not loading complete data"
Showing the following errors within the console when navigating to the predefined dashboards. This seems to be an issue on 4.6 and the latest from a git clone.

Controller Version: HX 5.0.2.921836 2020-09-15 16:25:29 (Hotfix).

[code]

[2020-12-03 16:23] B0fH commented on #49
Hi @petelking -
 Thanks for the note, much appreciated! Yes, this is indeed a bug. I've fixed it in my branch and it will be merged into master on my next pull request. See https://github.com/fireeye/HXTool/commit/f16040d5abce032c1ea6c42f656138d7dacfc4bc

In the meantime, you can simply add the import to the top of hxtool_util.py and restart HXTool.

Thanks,
 Elazar

[2020-12-03 16:29] B0fH commented on #50
Hi @anunknownplayer  -
 Are you using an account with the api_admin or api_analyst role?

As an aside, it looks like chartjs_agentstatus() doesn't seem to check if the HX API call was successful, I'll go ahead and fix that.

Thanks,
 Elazar

[2020-12-03 16:40] anunknownplayer commented on #50
Using the api_admin as to not run into any types of issues while we look at this tool

[2020-12-03 17:23] B0fH commented on #50
Thanks! Roughly how big is your agent population? We've seen some reports regarding API timeouts with large agent populations and HX 5.0.2.

Thanks,
 Elazar

[2020-12-03 17:31] anunknownplayer commented on #50
we're approaching 100K systems within the console.

[2020-12-03 19:52] B0fH commented on #50
That might be why. A full /hosts listing on a loaded controller can be pretty expensive - I'd take a look at the controller logs to see if there's any timeouts or 503s noted.

Thanks,
 Elazar

[2020-12-03 20:01] anunknownplayer commented on #50
Alright i'll get support to look at the controllers logs.

[2020-12-29 17:30] mathurin68 opened #53 "4.7-pre using mongodb and 'Audit Explorer'"
If I want to start to use the audit explorer...
"The upcoming Audit Explorer feature (in HXTool master) leverages the MongoDB task module. Essentially, you need to configure HXTool to use MongoDB - see README.config - and then run any bulk acquisition script with the task profile set to one configured to use MongoDB. Once the acquisition is complete, you'll see the audits listed under Manage Audit

[2020-12-29 20:38] B0fH commented on #53
Hi @mathurin68  -
 Yup, thats correct. Simply append a db section on your conf.json, like so:

![image](https://user-images.githubusercontent.com/1335037/103312662-bce1f800-49eb-11eb-8ef1-fc83be538316.png)

(snipped most of the config content for brevity)

Just make sure your config file is valid JSON once you add the section.

Thanks,
 Elazar

[2021-01-07 20:51] zdrouse commented on #8
I'm on 4.6 and using Chrome with no plugins.
While I don't receive any errors mentioned in this Issue, the download of the bulk acquisition doesn't provide a file.

The Download button becomes greyed out and the console log shows it was downloaded, but no file was received on my end.

`[2021-01-07 15:44:37,127] {hxtool_api} {Thread-141} INFO - ACTIVITY: msg='bulk acquisition action' action='downlo

[2021-02-11 18:22] B0fH commented on #10
Hi @Greggis  -
 Is this still an issue?

Thanks,
 Elazar

[2021-02-16 12:56] don-boss670 opened #60 "Fireeye HXTool CloudHelix Addition"
I have deployed HXTool and trying to add cloudhx into the browser interface using hostname:cloudhxurl and port as 443. But it does not connected. Proxy error is coming. How to fix this? Already added proxy config..Do I need to add any additional setting

[2021-02-16 15:12] B0fH commented on #60
Hi @ilakiyaisg -
 What hostname are you entering in the profile? It should just be the Cloud HX webui hostname, no https. As for a proxy, do you require one to reach your Cloud HX instance? If so, what does your proxy config look like? What, if any, error messages are you seeing in the console?

Thanks,
 Elazar

[2021-02-17 07:12] don-boss670 commented on #60
Yes. I have given full hostname of cloudhx1 console without https, given port as 443. And also given proxy setting as mentioned in readme.config ("proxies" : { "https": "https://user:password@host:port" }). Below error is coming..Kindly advice on this....

HTTPSConnectionPool(host='xxxxx-hx-webui-1.hex01.helix.apps.fireeye.com', port=443): Max retries exceeded with url: /hx/api/v1/token (caused by

[2021-02-18 15:21] B0fH commented on #60
Hi @don-boss670  -
 Whats is the rest of the error message? There should be an additional message after 'newconnectionerror', i.e. 'getaddrinfo failed' etc. Also, does your proxy username and/or password contain @ or #? (ref: https://github.com/psf/requests/issues/3990).

Thanks,
 Elazar

[2021-02-18 15:23] B0fH commented on #50
Hi @anunknownplayer  -
 Is this still an issues?

Thanks,
 Elazar

[2021-02-18 19:53] anunknownplayer commented on #50
Not seeing any errors showing up, but not all dashboards load still. There seems to be no indication that its currently working on fetching the data either so it's hard to tell at this point.

[2021-02-22 05:28] don-boss670 commented on #60
This is the error:
HTTPSConnectionPool(host='xxxxx-hx-webui-1.hex01.helix.apps.fireeye.com', port=443): Max retries exceeded with url: /hx/api/v1/token (caused by proxyerror(cannot connect to proxy) fileenotfounderror(2,"no such a file or directory"))))

Any other way to give password because we are giving password as plaintext in config file..it may leads to security an issue..Can you please sugg

[2021-02-22 21:55] B0fH commented on #60
Hi @don-boss670  -
 Thanks for the information. That error, FileNotFound, is very odd. What does the proxy section of your conf.json look like? As for PAC files, this is a good idea. There is a Python module for PAC support in requests, I'll take a look at implementing that. Can you kindly open a new issue requesting PAC support? This way we can track that separately from this issue.

Thanks,
 Ela

[2021-02-23 08:36] don-boss670 opened #66 "Using PAC files instead of directly using password"
Can u please update the config file proxy section using PAC file for authentication instead of using direct password.

[2021-02-23 08:47] don-boss670 commented on #60
Thanks for the prompted response.  Raised the new issue for PAC file implementation...

Please check the below and resolve it
**config file:**
	"network": {
		"ssl": "enabled",
		"port": 3001,
		"listen_address": "0.0.0.0",
		"session_timeout": 30,
		"proxies": {
		"https": "https://username:password@proxyip:port"
	}

[2021-02-23 16:52] B0fH commented on #60
Hi @don-boss670  -
 Can you try URL encoding the username and password (separately) in your config file?

Thanks,
 Elazar

[2021-02-23 20:21] B0fH commented on #66
Hi @don-boss670 -
 Does your proxy require authentication, even when using a PAC file? If so, then this might not be the best route to solve your issue as the PAC module is still going to need those credentials stored somewhere - it won't be able to leverage your existing Windows session to pass through credentials.

Thanks,
 Elazar

[2021-03-01 09:10] don-boss670 commented on #60
Can you please suggest in detail how to do that?

[2021-03-02 13:39] B0fH commented on #60
Hi @don-boss670  -
 Sure! You can do this using online in-browser tools like [Cyberchef](https://gchq.github.io/CyberChef/#recipe=URL_Encode(true)) or you can do so from Python, like so:
`

'%3Cusername+here%3E'

'%3Cpassword+here%3E'
`
Make sure to encode the username and password separately, and then modify your proxy URL in conf.json to be https://encodedusername:encodedpassword@proxy:port.

Th

[2021-03-03 06:55] don-boss670 commented on #60
Still I am facing error. Can you please check this.

config file:
"network": {
"ssl": "enabled",
"port": 3001,
"listen_address": "0.0.0.0",
"session_timeout": 30,
"proxies": {
"https": "https://encodedusername:encodedpassword@proxyip:port"
}
Error Message:
HTTPSConenctionPool(host:'hxcloudurl.apps.fireeye.com',port=443): Max retries exceeded with url: hx/api/v1/token(Caused by ProxyError("Cannot c

[2021-03-04 06:36] B0fH commented on #60
Hi @don-boss670  -
 It looks like HXTool is failing to connect to your proxy. Does the machine that you're running it on have access to the proxy?

Thanks,
 Elazar

[2021-04-01 14:24] bridgeythegeek opened #72 "true should be True"
`true` has been used as a constant when it should probably be `True`... depending on what happens later.

https://github.com/fireeye/HXTool/blob/4db2f4412eeff16681308713fab5b067c548222b/hxtool_api.py#L1657
https://github.com/fireeye/HXTool/blob/4db2f4412eeff16681308713fab5b067c548222b/hxtool_api.py#L1660
https://github.com/fireeye/HXTool/blob/4db2f4412eeff16681308713fab5b067c548222b/hxtool_api.py#

[2021-04-02 04:56] B0fH commented on #72
Fixed in #73

[2021-04-02 04:56] #72 closed

[2021-04-14 15:39] mathurin68 commented on #53
FINALLY, getting a chance to come back around to this.
Did something happen to the documentation on this? I don't see it anywhere on the website and haha I can't find where I originally ready about it.

[2021-04-15 15:42] mathurin68 opened #75 "Keyring error on HXTool Settings"
Error on adding background credentials in HXTool Settings -
running the latest version of HXTool on WSL.

`
    raise NoKeyringError(msg)
keyring.errors.NoKeyringError: No recommended backend was available. Install a recommended 3rd party backend package; or, install the keyrings.alt package if you want to use the non-recommended backends. See https://pypi.org/project/keyring for details.
`

[2021-04-21 19:40] B0fH commented on #75
Hi @mathurin68  -
 I haven't tested HXTool on WSL, but my suspicion would be that it doesn't have access to the Windows Credential Locker because its a separate subsystem, while at the same time dbus isn't available. My suggestion would be to install a 3rd party credential storage provider for keyring, such as keyring.cryptfile. See https://github.com/jaraco/keyring#third-party-backends

Thanks,

[2021-04-21 19:42] B0fH commented on #53
Hi @mathurin68 -
 Section 8 of [README.CONFIG](https://github.com/fireeye/HXTool/blob/master/README.CONFIG) should have you covered. As for setting up Mongo itself, I'd refer to the Mongo documentation: https://docs.mongodb.com/manual/installation/

Thanks,
 Elazar

[2021-04-22 13:11] mathurin68 commented on #75
Interesting...thank you!

[2021-04-22 13:37] mathurin68 commented on #53
Ah...OK!  Thank you, I'll play around with it!

[2021-04-29 14:50] #53 closed

[2021-04-29 14:59] mathurin68 opened #76 "Alerts tab, can we show one of each alert?"
At the moment in HXTool the 'Alerts' section seems to show every single time an alert fires, is there any way to show each alert one time for each host?  Maybe a separate column for how many times it's fired.

It would make it easier to prioritize and work on alerts directly from hxtool.

Thank you!

[2021-05-04 18:52] B0fH commented on #49
Closing as 4.7 has been released.

[2021-05-04 18:52] #49 closed

[2021-06-23 14:42] vytska opened #80 "Available search fields for query building"
I was going through HXTool code trying to find where available search fields (like 'Cookie Name', 'DNS Hostname', etc.) that are used in terms for `/searches` post are queried from fireeye API, cause they do not seem to be hardcoded. Help would be appreciated.

[2021-06-24 17:39] B0fH commented on #80
Hi @vytska  -
 HXTool's Enterprise Search feature only supports OpenIOC terms. The OpenIOC terms that are supported by the Endpoint Security agent are listed in the Agent Admin on the FireEye Documentation Portal under the 'OpenIOC Search Terms Supported by
the Agent' section of the guide. The terms you are referencing are Quick Search terms, which map to OpenIOC terms, that mapping is documented

[2021-06-24 17:42] B0fH commented on #76
Hi @mathurin68  -
 So the Endpoint Security console actually does just that: it shows alerts in alert groups, as opposed to every single alert. You are correct that HXTool shows all alerts as opposed to the groups. Looping in @CoderHenrik to get his take on setting up a separate grid that shows the alert groups and their associated alert counts.

Thanks,
 Ekazar

[2021-06-25 14:32] vytska commented on #80
Hi @B0fH,

Thank you for reply. Unfortunately I don't have access to inner fireeye documentation. Do I understand correctly that there is an endpoint to get supported search terms, but it is not listed in this API reference I've been using?
https://fireeye.dev/apis/lighthouse/

[2021-06-29 02:10] romio1212 opened #81 "Date range Filter of Alerts page"
Hi,

I am using HXTOOL 4.8pre.

I applied the "MONTH" or "QUARTER" or "HALF-YEAR" or 'YEAR" filters in the alert page of HXTOOL and clicked the Refresh button. However, these results do not display recent alerts. Are there any issues? ?

 For example, if the MONTH filter is used, "From 2021-05-30 to 2021-06-29" is specified. When the refresh button is clicked, the date of the last alert in the out

[2021-06-29 18:57] B0fH commented on #81
Hi @romio1212  -
 The 1K alert limit is by design to prevent HXTool from timing out when loading many alerts from loaded controllers. We can look into a configuration option to increase this value.

Thanks,
 Elazar

Thanks,
 Elazar

[2021-06-29 19:26] B0fH commented on #80
Hi @vytska  -
 Unfortunately, there's no API that will give you a list of supported OpenIOC terms and their associated quick search terms. That being said, the OpenIOC terms themselves are listed in the OpenIOC Editor (OpenIOCe) on the FireEye Marketplace: https://fireeye.market/apps/211404

As for the documentation itself, I'm unable to share it here. I'd recommend reaching out to your FireEye ac

[2021-07-01 12:39] z3k3z opened #82 "Update HXTool to support MD-VPN connected HX appliances during IR through MD Device Proxy"
(opening on behalf of marius.fodoreanu@mandiant.com, ref: ENDPT-84803)

Hello,

As part of multiple IR engagements, we are often required to use Physical HX on-premise within the client environment.
These HX, when registered through Managed Defense VPN, can be used much more efficiently by IR consultants remotely and securely.

Currently, fenix natively supports this MD-VPN Device Proxy connectivi

[2021-07-08 03:33] Nao-MNC opened #83 "Data becomes blurry"
Data becomes blurry (especially graph) if using zoom in/out (browser function: CTRL + Plus/Minus) and then reset to 100%(CTRL+0).
Confirmed on Google Chrome 91.0.4472.124 and Firefox 89.0.2.
Firefox can reset it, if I move to different menu.
For example when I opened main dashboard with burry state, if I open Agent dashboard, that can reset.
But Chrome cannot reset it.
![blur](https://user-images.

[2021-07-08 20:07] lumenterry opened #84 "The Negate capability for IOC creation causes error"
We have been using HXTool from the start and do really like it.  Primarily we use it to create Custom IOCs as it offers better capabilities.  Just noticed that the Negate capability when used with IOC Operators causes an Error when the Rule is submitted with the Negate box checked.  Remove the check on Negate and the rule submits fine.

I have used Negate many times over the years developing IOCs,

[2021-07-08 22:42] B0fH commented on #83
Thanks @Nao-MNC for reporting this, much appreciated. @CoderHenrik handles much of the UI so I'm going to assign this one over to him.

Thanks,
 Elazar

[2021-07-08 22:44] B0fH commented on #84
Hi @lumenterry -
 Does you condition have a single test with the negate checked? If so, this is by design to prevent FP storms: to wit, '*not* process equals powershell.exe' matches everything else all the time.

Thanks,
 Elazar

[2021-07-08 22:55] lumenterry commented on #84
Sure enough, thats it..  thanks...

[2021-07-09 17:14] vytska commented on #80
@B0fH thanks for all the info! I got everything I need now.

[2021-07-09 17:14] #80 closed

[2021-07-09 20:16] B0fH commented on #84
Thanks for the update!

[2021-07-09 20:16] #84 closed

[2021-07-14 09:45] romio1212 commented on #81
Hi,
How can I change this value ?
Which source files do I need to modify?

Thanks.

[2021-07-14 18:48] B0fH commented on #81
Hi @romio1212 -
 Under templates/ht_alert.html, there's several API calls to /api/v1/datatable_alerts_full with a limit parameter of 1000, for example https://github.com/fireeye/HXTool/blob/e3ab2767d77e029b5e6d4755df78f624b445f2d1/templates/ht_alert.html#L48. You can change the limit value or remove it altogether and restart HXTool.

Thanks,
 Elazar

[2021-07-15 17:52] mathurin68 commented on #76
Hah, I almost everything else in hxtool... just being lazy!  Thank you and closing.

[2021-07-15 17:52] #76 closed

[2021-07-16 16:10] mathurin68 commented on #75
Hmmm, I'm getting the same error on

CentOS Linux release 7.9.2009 (Core)
python 3.8 (virtualenv)

[2021-07-28 14:47] #75 closed

[2021-07-28 15:05] mathurin68 opened #85 "4.8-Pre on Centos can't add background processing credentials"
Can't seem to save the 'Background Credentials' to hxtool.

Working on Centos Server -
CentOS Linux release 7.9.2009 (Core)
python 3.8 (virtualenv)
HXTool 4.8-pre

Getting the following error trying to set the Background Processing Credentials...
`keyring.errors.NoKeyringError: No recommended backend was available. Install a recommended 3rd party backend package; or, install the keyrings.alt packa

[2021-07-28 17:51] mathurin68 commented on #85
I don't know, it seems to be because I'm on a headless linux system?  And no idea how to install one of the 3rd party packages.  Do I just run pip install keyring.cryptfile?  We've even installed gnome-keyring... same errors, but I have no idea what I'm doing.

[2021-07-28 17:56] B0fH commented on #85
Hi @mathurin68 -
 You are correct in that keyring requires some additional steps on headless systems, kindly take a look at https://github.com/jaraco/keyring#using-keyring-on-headless-linux-systems.

As you noted, cryptfile is an alternative backend if you're unable to get gnome-keyring to work: https://pypi.org/project/keyrings.cryptfile/ Just 'pip install keyrings.cryptfile' and restart HXTool.

[2021-07-29 15:05] mathurin68 commented on #85
The error I get on keyrings.cryptfile--

[code]
...I can't seem to find a solution to storing this password somewhere.  This, https://pypi.org/project/keyrings.cryptfile/ didn't seem to offer any workable solutions, but, again, I have no idea what I'm doing.

Definitely not ideal, but keyrings.alt does work.

[2021-07-29 18:44] mathurin68 commented on #53
Moving to a new question since I'm further along....

[2021-07-30 19:35] B0fH commented on #85
Hi @mathurin68  -
 keyrings.cryptfile requires a password to secure the keyring, which is what you're running into. keyrings.alt is certainly an alternative but not optimal. At this point, I think I'm going to build a fallback backend that mimics the previous behavior where we used a dynamically generated key stored in a file to encrypt the password - not optimal either, but at least it will make

[2021-08-02 20:27] mathurin68 commented on #85
I'll close it, thank you so much!

[2021-08-02 20:27] #85 closed

[2021-08-31 05:17] don-boss670 opened #86 "Hivenightmare Detection in FY HX"
Need to create a behavior based HX rule logic for "any process other than vssadmin and vssvc trying to read sensitive registry hive’s SAM, SYSTEM and SECURITY"

[2021-09-07 05:08] don-boss670 commented on #86
Please comment on this...

[2021-09-09 18:33] B0fH commented on #86
Hi @don-boss670 -
 The FireEye Endpoint Security agent doesn't monitor file or registry read activity. That said, you could create a processEvent indicator that looks for either of those three terms in the command line where the actor process does not match vssadmin or vssvc. For example:

![image](https://user-images.githubusercontent.com/1335037/132743024-65b73cb6-192a-4afd-b89f-1f495b4bf091.png

[2021-09-09 18:33] #86 closed

[2021-10-01 05:21] blogctechz opened #87 "Multi File Acquisition"
Hi,

Just a question regarding the Multi-File Acquisition feature. **Is it possible to specify different File Paths at the same time**** while acquiring the file ?.  Or we can just specify the single path.

[2021-10-01 10:42] blogctechz opened #88 "Bulk Acquisitions Failing"
Hi,
When i am running Buk Acquisitions it is failing. I am getting below error.  Can you help to resolve it.

2021-10-01 06:19:10,480] {bulk_acquisition_task_module} {Thread-3} INFO - Bulk acquisition ID 406 submitted successfully.

[2021-10-01 06:31:49,483] {bulk_download_monitor_task_module} {Thread-2} WARNING - Failed to get bulk acquisition job status for ID 406, will defer and retry up to 10

[2021-10-14 05:29] #88 closed

[2021-10-14 05:32] blogctechz opened #89 "BulkAcquisition ID not Creating"
Hi Team,
While acquiring the Bulk acquisition, ID is not creating under the folder "HXTOOL_ROOT\bulkdownload\HX_HOSTNAME\BULK_ACQUISITION_ID" which contains the acquired data.  Also Download button is faded and cant download data from the web UI.

Any help?

[2021-11-01 21:23] B0fH commented on #89
Hi @blogctechz -
 Did you set the background credentials(under the HXTool Settings menu) that the HXTool scheduler needs to run the job?

Thanks,
 Elazar

[2021-11-11 02:03] dthschyt3 opened #90 "Jquery upgrade on FireEye HXTool"
Currently there's a vulnerability related to jQuery v3.2.1, so we've decided to upgrade the jQuery by following the steps below:

a)	Download https://code.jquery.com/jquery-3.6.0.min.js and place it in <hxtool home directory>/static/js/
b)	Open <hxtool home directory>/templates/layout.html and change line 15 to load the new version instead of the old version
c)	Restart HXTool

Unfortunately, this

[2021-11-17 00:36] B0fH commented on #87
Hi @blogctechz  -
 Not within the same instance of the multi-file audit. You have one of two options here:
1. Specify a base path for Path, and then use PathRegex to filter across multiple sub-paths
2. Specify multiple, separate multifile-acquisition modules within the same script

Thanks,
 Elazar

[2021-11-17 00:38] B0fH commented on #90
Hi @dthschyt3 -
 Let me look into this.

Thanks,
 Elazar

[2021-11-17 04:14] B0fH commented on #90
Hi @dthschyt3 -
 I've merged https://github.com/fireeye/HXTool/pull/91 which upgrades JQuery to 3.6.0. You can grab ht_login.html and layout.html, replace them in your existing HXTool instance and restart HXTool.

Thanks,
 Elazar

[2021-11-17 04:14] #90 closed

[2021-11-19 07:50] dthschyt3 commented on #90
Hi Elazar,

It works now. Thank you very much.

Regards,
Harold

On Wed, 17 Nov 2021, 12:14 Elazar Broad, ***@***.***> wrote:

[2021-12-13 22:31] B0fH commented on #66
Hi @don-boss670 -
 PAC support has been committed. Closing this.

Thanks,
 Elazar

[2021-12-13 22:31] #66 closed

[2021-12-13 22:32] B0fH commented on #60
Hi @don-boss670  -
 Is this still an issue?

Thanks,
 Elazar

[2021-12-16 05:03] don-boss670 commented on #60
Yes. It is working fine now. Thanks for your help.

On Tue, Dec 14, 2021 at 4:02 AM Elazar Broad ***@***.***>
wrote:

[2021-12-16 15:44] #60 closed

[2021-12-17 15:44] B0fH commented on #89
Hi @blogctechz  -
 Is this still an issue?

[2022-01-10 15:18] 0x4A44 opened #96 "Enterprise Searches using OpenIOC Rules do not complete"
Hi,

Trying to run Enterprise searches using the log4j IOC rules from "https://github.com/fireeye/CVE-2021-44228" and the searches hang on certain assets causing the search to never complete fully.

Any help with why this may happen?

[2022-02-09 03:57] FinnChen1 opened #97 "HOW to export IOC details by using HX tool"
As the picture below in HX web IOC I can see the details of MD5 equal 7a0dfc5353ff6de7de0208a29fa2ffc9

but in HX tool web the csv I already export can not find any information about MD5

so how should I do if I want to export the details of the IOC rule ?

I try to use HX tool version 4.6 4.7 pre 4.8 face the same problem

![HX tool IOC](https://user-images.githubusercontent.com/99307981/15311913

[2022-02-09 20:02] B0fH commented on #97
Hi @FinnChen1 -
 I'm unable to replicate this using the same indicator. Do you see any errors in the console that HXTool is running in? Additionally, what role does the user you're logging in to HXTool with have?

Thanks,
 Elazar

[2022-02-10 02:57] FinnChen1 commented on #97
I use role : Admin  create indicator on HX web console  and use role : Admin export indicator on HX tool, and no error show on the HX tool. I also try to use role:Admin import Rules by txt on HX tool but it doesn't work the role can not see on the hxtool.
I also try another way to create new rule on HX tool and it doesn't work again and show failed to create indicator.
![image](https://user-images

[2022-02-11 03:16] FinnChen1 commented on #97
Hi Elazar
I already follow the procedure you gave and it work successfully!

Thanks!

[2022-02-14 20:16] #97 closed

[2022-02-17 16:00] BIitzkrieg opened #98 "ImageLoad Event Mapping Bug(?)"
When Importing an Image Load Event in OpenIOC format, HXTool accepts and creates the rule with the following indicator object logic:
`<Indicator operator="AND" id="b8a1abcd-1a69-16c7-4da4-f9fc3c6da5d7">
				<IndicatorItem id="e3e70682-c209-4cac-629f-6fbed82c07cd" condition="ends-with" preserve-case="false" negate="false">
					<Context document="imageLoadEvent" search="imageLoadEvent/processPath"

[2022-02-17 16:10] B0fH commented on #98
Hi @BIitzkrieg -
 Thanks for the note, this is indeed a bug due to a missing processPath token in static/eventbuffer.json for imageLoadEvent. I've merged a PR which resolves this. You can simply replace your eventbuffer.json with the one from here: https://raw.githubusercontent.com/fireeye/HXTool/master/static/eventbuffer.json and restart HXTool.

Thanks,
 Elazar

[2022-02-17 16:37] BIitzkrieg commented on #98
Thanks Elazar, this works. On a separate note, im putting in a case with fire eye to hopefully modify the way the HX agent logs process info for image load events... this would be more uniform in my opinion. We write analytics  based on sysmon with SIGMA, and convert the analytics using sigmac (uncoder.io for a nice web frontend). The way HX currently implements this event logging wouldn't allow u

[2022-02-21 18:31] rcarmack1 opened #100 ""failed to create indicator" with HX 5.1.1"
I am running HX 5.1.1, and every attempt to create an indicator presents the message "failed to create indicator".  HXTool version is the newest available, downloaded and installed on 2/21/22.

[2022-02-22 17:07] B0fH commented on #100
Hi @rcarmack1 -
 Which user are you using to log in to HXTool with? Does this user have the api_admin or api_analyst role?

Thanks,
 Elazar

[2022-02-23 17:46] rcarmack1 commented on #100
Thanks for the suggestion - changing the role from admin to ap_admin did the trick.

[2022-02-23 17:46] #100 closed

[2022-03-21 09:37] belteguese0 opened #102 "Internal server error after settings background"
Hi, I use 4.8-pre release and when I try to set Background Scheduler Credential here https://github.com/fireeye/HXTool/wiki/Background-Scheduler-Credentials the web UI raises an Internal Server Error Page.

ERROR:

[code]

[2022-03-21 15:20] #10 closed

[2022-03-21 15:20] #89 closed

[2022-03-21 15:22] B0fH commented on #98
Hi @BIitzkrieg -
Thanks for the heads up on the inconsistency, I'll follow up internally.

Thanks,
 Elazar

[2022-03-21 15:22] #98 closed

[2022-03-25 15:41] KevHare opened #103 "Add connected controller name to top menu"
With multiple controllers it can sometimes be confusing as to which controller is currently connected. The top right of the bar would be a good location.

[2022-03-28 15:25] recluster opened #104 "Jinja2 evalcontextfilter moved"
Hello ,
on the last 3.1 Jinja version (https://jinja.palletsprojects.com/en/3.1.x/changes/#version-3-1-0) eval contexfilter moved to pass_context. evalcontextfilter

Flask import of hxtool.py are no longer correct.
`# Flask imports
try:
	from flask import Flask, request, Response, session, redirect, render_template, send_file, g, url_for, abort, Blueprint
	from jinja2 import evalcontextfilter, Mar

[2022-03-28 20:46] B0fH commented on #104
Resolved with #105

[2022-03-28 20:46] #104 closed

[2022-03-29 16:36] B0fH commented on #102
Hi @belteguese0 -
 Which version of keyring are you using?

Thanks,
 Elazar

[2022-04-06 00:44] Nao-MNC opened #106 "Document update please"
I have noticed main python program HXTool.py and related api updated 8 days ago.
If something is changed, could you update document?
Was it changed something actually?
Is there any plan to change version?

[2022-04-07 14:00] B0fH commented on #106
Hi @Nao-MNC  -
 You can follow development activity here: https://github.com/fireeye/HXTool/commits/master

Thanks,
 Elazar

[2022-04-20 01:29] ravib-22 opened #107 "Export of bulk IOC's missing information"
Hi

Has there been a recent fix in 4.7 to resolve the issue of missing data during an Export of bulk IOCs?

Or what is the workaround?

Thanks

[2022-06-01 01:17] firefox5566 opened #108 "HX Tool Dashboard Unable to Load Complete Data"
Hi,

I have been using the HX Tool and I have seen that the Antivirus Dashboard does not load any data on the Endpoints With Anti-Virus Content Version, Endpoints With Anti-Virus Engine Version and Status Of Anti-Virus On Endpoints portions.

Is this a know issue?

[2022-07-13 06:31] HazemHunity opened #109 "Used"
Can I used it without HX Server? (standalone)

[2022-07-30 13:16] lluked opened #110 "Create new release or mark 4.7 as broken"
Hi,

I was trying for hours to run release 4.7 and pulling my hair out with it not working. It appears it was not working due to changing dependencies with jinja2 markupsafe and escape and this has been fixed in the master branch. Please can you update the release page to state it is not working to save anyone else the same hassle? or create a new release based on the master?

Thanks
Luke

[2022-08-02 19:54] B0fH commented on #110
Hi @lluked -
 This is a great point, let me discuss with @CoderHenrik and get a likely 4.7.1 release out the door.

Thanks,
 Elazar

[2022-08-02 19:54] B0fH commented on #109
Hi @HazemHunity  -
 Unfortunately you cannot. In fact, HXTool passes authentication directly through to HX.

Thanks,
 Elazar

[2022-08-02 19:54] #109 closed

[2022-08-02 19:56] B0fH commented on #108
Hi @firefox5566 -
 It should load anti-virus information just fine, *if* you have agents with the A/V engine enabled. Are you seeing an issue with agents that have the engine enabled?

Thanks,
 Elazar

[2022-08-02 20:14] lluked commented on #110
Hi Elazar,

Thanks for looking into this

Thanks
Luke

[2022-08-03 11:22] firefox5566 commented on #108
Hi @B0fH,

A\V engine is enabled on our endpoints and we can confirm that on our monthly audits via scan reports. The attached image is what we are seeing on the HX Tool interface under "Antivirus Dashboard": (no data is being populated)
![HXtool](https://user-images.githubusercontent.com/106637507/182596008-fdc43cca-c9ae-447e-a8a4-6126a9265c98.PNG)

[2022-08-03 11:22] firefox5566 commented on #108
Hi @B0fH,

A\V engine is enabled on our endpoints and we can confirm that on our monthly audits via scan reports. The attached image is what we are seeing on the HX Tool interface under "Antivirus Dashboard": (no data is being populated)
![HXtool](https://user-images.githubusercontent.com/106637507/182596008-fdc43cca-c9ae-447e-a8a4-6126a9265c98.PNG)

[2022-08-03 16:58] B0fH commented on #108
Hi @firefox5566 -
 That is odd. How many agents do you have on the controller overall. Additionally, are there any errors in the console window that HXTool is running under and/or hxtool.log?

Thanks,
 Elazar

[2022-08-03 18:11] B0fH commented on #110
Hi @lluked -
 We've branched master and issued a 4.7.1 release.

Thanks,
 Elazar

[2022-08-03 18:11] #110 closed

[2022-08-03 19:49] lluked commented on #110
Hi @B0fH

Thanks for the quick turnaround!

Kind Regards
Luke

[2022-08-04 01:38] firefox5566 commented on #108
Hi @B0fH,

We have 50k plus endpoints. In terms or error, I am not sure if this matters but I can see KeyError: 'TP' and other info like the image below:
![image](https://user-images.githubusercontent.com/106637507/182744417-d32c2e51-0c3e-46db-9428-0f39ec5ab7b4.png)
![image](https://user-images.githubusercontent.com/106637507/182744449-fde10d52-e262-47d9-8dbc-c955c8575173.png)

[2022-08-05 14:19] firefox5566 commented on #108
Hi @B0fH,

I can send you the HXTool logs if you want.

[2022-08-08 14:59] B0fH commented on #108
Hi @firefox5566 -
 Yes, that'd be appreciated. It looks like we're failing to parse some data - those key errors are likely why those dashboards aren't loading.

Thanks,
 Elazar

[2022-08-08 16:54] firefox5566 commented on #108
Hi @B0fH,

How do you want me to send the logs, do you want it via email or via secure file link?

[2022-08-09 15:41] B0fH commented on #108
Hi @firefox5566 -
 Thank you for sending the log file, it is much appreciated. The 'TP' key error is due to Tamper Protection missing as an alert type in [alert_types.json](https://github.com/fireeye/HXTool/blob/master/static/alert_types.json). I've went ahead an added it. Can you replace your copy of this file with the new one and restart HXTool?

Thanks,
 Elazar

[2022-08-09 15:53] firefox5566 commented on #108
Hi @B0fH,

Thank you for this.

I have now replaced the file with that and restarted HXTool however I am still not seeing any info on the Antivirus Dashboard as seen on the image below:

![image](https://user-images.githubusercontent.com/106637507/183699721-b79af466-ddd8-4824-894a-9ba29a1847eb.png)

[2022-09-05 12:11] firefox5566 commented on #108
Hi @B0fH,

I have inspected on the AV Dashboard and found the info below:

For the "Latest Anti-Virus Alerts", it is showing a successful connection which would explain why the data are showing:

![image](https://user-images.githubusercontent.com/106637507/188445651-b26e4d1b-fbe4-4b01-8850-43883ca7a5ed.png)
![image](https://user-images.githubusercontent.com/106637507/188445804-717d4c83-c4e0-48c9-b

[2022-09-05 12:24] firefox5566 commented on #108
Hi @B0fH,

I am seeing this as well.

![image](https://user-images.githubusercontent.com/106637507/188448454-c6ba6788-9542-4aaa-91e2-2f143fb01464.png)

Kindly advise.

Thank you!

[2022-09-05 13:08] firefox5566 commented on #108
Hi @B0fH,

We are also seeing these errors:

![image](https://user-images.githubusercontent.com/106637507/188456743-72ac45a9-dff1-4ea5-994d-c06b6e37ce67.png)
![image](https://user-images.githubusercontent.com/106637507/188456819-b0f0f0de-098c-40fb-ab34-b2b37cdda00f.png)

[2022-09-05 20:12] firefox5566 commented on #108
Hi @B0fH,

I have now figured this out.

This was  related to the (ret, response_code, response_data) = hx_api_object.restListHosts(limit=100). This was originally set to (limit=100000) which I believe takes to much time to query. I have tested and changed it to (limit=100) and the dashboard is showing data as seen on the image below:

![image](https://user-images.githubusercontent.com/106637507/1

[2022-09-05 21:31] firefox5566 commented on #108
Hi @B0fH,

Is there a possible way to improve this to be able to query a lot quicker and cater higher limits?

[2022-09-15 18:18] B0fH commented on #108
Hi @firefox5566 -
 Changing the limit to 100 will restrict the chart to the first 100 agents returned by the controller. That said, I posted a potential fix to my branch here: https://github.com/fireeye/HXTool/commit/95c5883d8c8db477ad38b8a0bc1a51478b3c41ce. You can grab a raw copy here: https://raw.githubusercontent.com/fireeye/HXTool/elazar-changes/hxtool_api.py, replace you existing hxtool_api.

[2022-09-15 18:19] B0fH commented on #107
Hi @ravib-22 -
 I've been unable to replicate this issue. Are you still seeing this problem?

Thanks,
 Elazar

[2022-09-15 18:19] #106 closed

[2022-09-15 18:22] B0fH commented on #102
Hi @belteguese0 -
 The issue here is that you have HXTool deployed on a headless Linux system - which is fine - however, keyring is falling back to a file based keystore which it's prompting for a password. Kindly see https://keyring.readthedocs.io/en/latest/#using-keyring-on-headless-linux-systems for solution.

Thanks,
 Elazar

[2022-09-15 18:22] #87 closed

[2022-09-19 13:52] B0fH commented on #103
Added with https://github.com/fireeye/HXTool/pull/113.

[2022-09-19 13:52] #103 closed

[2022-09-19 16:25] firefox5566 commented on #108
Hi @B0fH,

The data is still not loading and I am getting these warnings:

![image](https://user-images.githubusercontent.com/106637507/191066051-f489ec29-10f8-4504-a62e-e8ffcd81fb1f.png)

Kindly advise.

Thank you.

[2022-09-19 17:41] firefox5566 commented on #108
Hi @B0fH,

Looks like that there are a lot of devices that do not have MalwareProtectionStatus on the sysinfo that was being pulled which is causing some errors. The code will skip these errors right and just pull the ones that have valid information// data on the response data?

[2022-09-29 08:19] jmalbertsanofi opened #115 "HX Cloud"
Hi Elazar,

Could you provide me some help to to manage HX Cloud through HXTool?

When I try to configure it with a URL similar to [REDACTED]-hx-webui-1.hex03.helix.apps.fireeye.com, I obtain this error message:
`HTTPSConnectionPool(host='[REDACTED]-hx-webui-1.hex03.helix.apps.fireeye.com', port=443): Max retries exceeded with url: /hx/api/v1/token (Caused by NewConnectionError('<urllib3.connectio

[2022-09-29 15:08] B0fH commented on #115
Hi @jmalbertsanofi -
 `[Errno -2] Name or service not known` usually signifies DNS lookup failure. In the controller profile, can you confirm that *just* the FQDN is there and not anything else, i.e. https?

Thanks,
 Elazar

[2022-09-29 15:34] B0fH commented on #108
Closing per out of band confirmation from @firefox5566  that the issue has been resolved.

[2022-09-30 16:49] #50 closed

[2022-09-30 16:50] #81 closed

[2022-10-03 09:06] jmalbertsanofi commented on #115
Hi @B0fH

I can confirm that there is only FQDN, and that I'm using port 443:
![image](https://user-images.githubusercontent.com/103415948/193540166-5c050e36-c580-40a6-9579-d21ba8e31f34.png)

Because curl test is working as expected, I guess it is not a network issue/DNS lookup failure.

Regards,
JM

[2022-10-03 20:49] B0fH commented on #115
Hi @jmalbertsanofi -
 Thar is very odd. The error that the Python requests module is throwing indicates a DNS resolution failure. The only other thing I can think of at the moment is that maybe some whitespace characters made their way into the host name. You can confirm what the hostname looks like in the database by opening hxtool.db in a text editor - its simply a JSON text file.

Thanks,
 Elaz

[2022-11-17 22:20] tdmomega77 opened #116 "Export of Custom Rules Fails in 4.7.1"
I am using HXTool 4.7.1, and attempts to export custom configured rules are failing.  My on-prem HX appliances are running the latest 5.3.0 OS, and I am using a Python 3.7X version to run HXTool on a Windows 10 Enterprise 21H2 OS. A snippet of the hxtool.log shows the following when attempts to export are made:

_[2022-11-17 14:33:26,604] {app} {Thread-741} ERROR - Exception on /api/v1/indicators/

[2022-11-17 22:52] tdmomega77 commented on #116
Nevermind...my updated Flask module replaced 'attachment_filename' with 'download_name' per https://github.com/pallets/flask/issues/4753.  Once I updated these entries in hxtool_api.py, I was able to download custom rules again.

[2022-11-17 22:52] #116 closed